@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); 

* {
    margin:  0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}

body {
    font-family: "Figtree", sans-serif;
    background-color: var(--Yellow);
}

.container {
    display: flex;
    justify-content: center;
    background-color: var(--White);
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 0px #000000;
    border: 1px solid var(--Gray950);
    max-width: 22rem;
    margin: 13rem auto;
}

.container img {
    border-radius: 10px;
    max-width: 100%;
}

.learning {
    font-size: 20px;
    font-weight: 800;
}

.text-learning{
    background-color: var(--Yellow);
    max-width: 29%;
    border-radius: 7px;
    margin: 20px 0 15px;
    text-align: center;
    padding: 5px;
}

.text-container h2{
    margin-top: 10px;
    font-weight: 800;
}

.text-container__p {
    margin-top: 10px;
    color: var(--Gray500);
}

.text-container {
    font-weight: 500;
}

.text-container__hover {
    transition: 0.3s ease;
}

.text-container__hover:hover {
    color: var(--Yellow);
    cursor: pointer;
}



.my-profile {
    margin-top: 25px;
    width: 45px;
    display: flex;
}

.text-profile {
    margin: 12px 0 0 12px;
    white-space: nowrap;
    font-weight: 800;
}

.attribution { 
    font-size: 11px; text-align: center; 
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
